*{
margin: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 3000px;
    background-color: #1f2a37;
}
p{
    color: white;
    font-weight: bolder;
}

.Header{
width: 100%;
height: 100vh;
background: linear-gradient(135deg, #5f0340, #3d177a, #5f0340);
}
.HeaderTop{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.273);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.Element1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Element2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.Element2 p:hover{
color: #3d177a;
cursor: pointer;

}

.Element3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Element3 img:hover{
cursor: pointer;
}



.Search{
    width: 180px;
    height: 35px;
    background-color: whitesmoke;
    border-radius: 8px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.AfterSearch{
    width: 3px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.234);
    border-radius: 50px;
}
.CV{
    width: 120px;
    height: 35px;
    background: linear-gradient(to right, #f857a6, #b055ff);
    color: white;
    border-radius: 50px;
    border: 0px;
    font-weight: bold;
}
.CV:hover{
    background: #5f0340;
    cursor: pointer;
}
