*{
margin: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 3000px;
    background-color: #1f2a37;
}
p{
    color: white;
    font-weight: bolder;
}

.Header{
width: 100%;
height: 950px;
background: linear-gradient(135deg, #5f0340, #3d177a, #7f0456);
position: relative;
}
.HeaderTop{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.273);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
}
.Element1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Element1 p{
    text-shadow: 0 0 10px gray; 
   
}

.Element2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.E2{
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.E2::after{
content: "";
position: absolute;
left: 0;
bottom: -5px;
width: 0%;
height: 3px;
background: linear-gradient(to right, #f857a6, #b055ff);
transition: width 1s ease;
}

.E2:hover::after{
    width: 100%;
}
.E2:hover{
    color: #f857a6;
}

.Element3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Element3 img:hover{
cursor: pointer;
}
.Element4{
    display: none;
}


.Search{
    width: 180px;
    height: 35px;
    background-color: whitesmoke;
    border-radius: 8px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.AfterSearch{
    width: 3px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.234);
    border-radius: 50px;
}
.CV{
    width: 120px;
    height: 35px;
    background: linear-gradient(to right, #f857a6, #b055ff);
    color: white;
    border-radius: 50px;
    border: 0px;
    font-weight: bold;
     cursor: pointer;
     transition: 0.5s;
}
.CV:hover{
    background: #5f0340;
    transform: scale(1.2);
}

.HeaderBottom{
width: 80%;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding-top: 30px;

}
.HBCenter{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
line-height: 2.5;
color: white;
position: relative;
}
.HBCenter h1{
font-weight: 900;
letter-spacing: 2px;
text-shadow: 0 0 10px gray;    
}

.FD{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    gap: 20px;
}

@keyframes opacit {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.ME{
width: 300px;
border-radius: 300px;
border: 5px solid #5f0340;
box-shadow: 0 0 40px #5f0340;
animation: opacit 5s infinite ease-in-out;
}

@keyframes tops {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}


.STAR{
    width: 48px;
position: absolute;
left: 200px;
top: 200px;
animation: tops 4s infinite ease-in-out;
}

@keyframes opac {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}


.WEB{
    width: 48px;
position: absolute;
right: 200px;
bottom: 300px;
animation: opac 4s infinite ease-in-out ;
}
.STARS{
    width: 48px;
animation: opac 4s infinite  ease-in-out;
}
.BUT1{
width: 220px;
height: 60px;
background-color: rgba(0, 0, 0, 0);
border-radius: 50px;
border: 3px solid white;
color: white;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
font-weight: bolder;
font-size: 15px;
letter-spacing: 1.5px;
transition: 0.5s;
cursor: pointer;
}
.BUT2{
width: 220px;
height: 60px;
background-color: rgba(0, 0, 0, 0);
border-radius: 50px;
border: 3px solid white;
color: white;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
font-weight: bolder;
font-size: 15px;
letter-spacing: 1.5px;
transition: 0.5s;
cursor: pointer;
}
.Button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
}

.BUT1:hover, .BUT2:hover{
background-color: white;
color: #f857a6;

}

.Follow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 40px;
}
.f1{
    border-radius: 50px;
    box-shadow: 0 0 40px rgb(50, 50, 50);
    cursor: pointer;
    width: 32px;
    transition: 0.5s;
}
.f1:hover{
transform: scale(1.4);
}
@keyframes to-top {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
.DOWNBOX{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.DOWN{
    filter: invert(1);
    width: 42px;
    animation: to-top 2s infinite ease-in-out;
    cursor: pointer;
}

.Bottom{
width: 80%;
margin: auto;
}

.Title1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    line-height: 1.6;
}
.Title1 p{
    font-size: 20px;
    color: rgb(0, 229, 255);
    font-weight: 100;
    text-shadow: 0 0 20px rgb(0, 229, 255);
}
.Title1 h1{
    font-size: 40px;
    color: white;
    text-shadow: 0 0 20px #f857a6;
}
.Title1 div{
width: 120px;
height: 3px;
background: linear-gradient(to right, #f857a6, #b055ff);
border-radius: 50px;
box-shadow: 0 0 30px #f857a6 ;
}

.ABOUT{
display: flex;
margin-top: 60px;
justify-content: space-between;

}
.Story{
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    gap: 10px;
    letter-spacing: 1px;
    text-shadow: 0 0 30px white;
}



.BIO{
width: 500px;
line-height: 1.6;

}
.BIO p{
padding-top: 40px;
font-weight: 200;
color: rgba(255, 255, 255, 0.627);
text-shadow: 0 0 30px gray;
}


.Education{
    width: 550px;
    height: 240px;
    background: linear-gradient(135deg, #7f045656, #3d177a4e);
    border-radius: 30px;
    line-height: 2;
    padding-top: 20px;
    padding-left: 20px;
border: 3px solid #5f0340;
text-shadow: 0 0 30px #b055ff;
}
.Education h1{
    color: white;
    font-size: 25px;
}
.Education h3{
color: white;
font-size: 17px;
font-weight: 200;
letter-spacing: 1px;
padding-top: 5px;
}

.Education h5{
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.521);
}
.Education p{
    padding-top: 20px;
    letter-spacing: 1px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.704);
}

.Experience{
width: 550px;
    height: 250px;
    background: linear-gradient(135deg, #3d177a4e, #7f045656 );
    border-radius: 30px;
    line-height: 2;
    padding-top: 20px;
    padding-left: 20px;
border: 3px solid purple;
margin-top: 30px;
text-shadow: 0 0 30px #b055ff;
}
.Experience h1{
    color: white;
    font-size: 25px;
}
.Experience h3{
    color: rgb(227, 224, 224);
    font-weight: 400;
    letter-spacing: 1px;
font-size: 17px;
padding-top: 20px;
}
.Experience h5{
    color: rgba(255, 255, 255, 0.332);
    font-weight: 200;
    letter-spacing: 1px;
    
}

.SKLKNOW{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}
.skill{

    width: 80%;
    height: 8px;
    border-radius: 20px;
    background-color: gray;
}
.progress{
    width: 95%;
    height: 100%;
    background: linear-gradient(to right, #f857a6, #b055ff);
    border-radius: 20px;
}

.p2{
    width: 80%;
}
.p3{
    width: 10%;
}
.p4{
    width: 60%;
}
.p5{
    width: 85%;
}
.p6{
    width: 100%;
}
.p7{
width: 100%;
}
.p8{
    width: 100%;
}


@media(max-width:767px){
.Header{
height: 850px;
}

.Element2{
    display: none;
}
.Element3 .Search, .Element3 img, .Element3 div{
    display: none;
}
.Element1 p{
    display: none;
}
.Element4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ME{
    width: 250px;
}
.STAR{
    left: 20px;
    top: 120px;

}
.WEB{
    right: 20px;
    top: 350px;
}
.HBCenter h1{
    font-size: 20px;
}
.FD{
    font-size: 13px;
}
.HBCenter p{
    font-size: 10px;
}
.Button{
    width: 100%;
}
.BUT1{
    font-size: 12px;
    padding: 0 10px;
}
.BUT2{
    font-size: 12px;
    padding: 0 10px;
}
.Follow{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.f1{
    width: 32px;
}
 .DOWN{
 width: 28px;
 padding-top: 0;
 }

}

@media(min-width:768px) and (max-width:1023px){
.Header{
    height: 900px;
}
.CV{
    display: none;
}
.Element2{
    display: none;
}

.Element4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Element3{
    padding-left: 20%;
}
.ME{
    width: 250px;
}
.STAR{
    left: 100px;
}
.WEB{
    right: 100px;
    top: 350px;
}

.DOWN{
    width: 30px;
}

}

@media(min-width:1024px) and (max-width:1250px){
.Element1 p{
    display: none;
}
.STAR{
    left: 130px;
}
.WEB{
right: 130px;
bottom: 300px;
}



}